html {
    -webkit-text-size-adjust: 100%;
    /* Con esta lÃ­nea se quita el boqueo de txt pequeÃ±o reajustado en ios */
}

/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap'); */

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inconsolata;
}

.cursor-pointer {
    cursor:grab;
  }

/* index page */
.relative-container {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.1rem;
    border-style: solid;
    border-color: white;
    /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
    transform: translate(0, 0rem);
}

.titulo {
    /* weight --> ExtraLight = 200 */
    font-weight: 300;
    font-size: larger;
}

.button-container {
    position: relative;
    /* background-color: rgb(0, 255, 0); */
    display: flex;
    width: 14rem;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 0rem);
}

.button {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 0.1rem;
    border-style:dashed;
    border-color: white;
    /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
    transform: translate(0, 0rem);
}

.button:hover {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: black;
    background-color: white;
    /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
    transform: translate(0, 0rem);
}

/* color picker page */
.col-picker-container{
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.1rem;
    border-style: solid;
    border-color: white;
    /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
    transform: translate(0, 0rem);
}

.palette-container {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 20rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0.1rem;
    border-style: solid;
    border-color: white;
    /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
    transform: translate(0, 0rem);
}

.picker-palette{
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 6rem;
    height: 12rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.1rem;
    border-style: solid;
    border-color: white;
    /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
    transform: translate(0, 0rem);
}

.palette {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 4rem;
    height: 4rem;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 0.1rem;
    border-style:dotted;
    border-color: white;
    /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
    transform: translate(0, 0rem);
}

.color-select-style{
    /* border: unset; */
    background-color: unset;
    width: 2rem;
    height: 2rem;
    /* border-style:unset; */
    border-style:dotted;
    border-color: white;
}
