html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inconsolata;
}

a {
    all: unset;
}

button {
    all: unset;
}

.button2 {
    border-color: rgba(255, 255,255,0.3) !important;
}

.hidden{
    visibility: hidden;
}

.titulo {
    font-weight: 300;
    font-size: larger;
}

.title-center {
    text-align: center;
    font-weight: 600;
    font-size:xx-large;
}

.txt {
    font-weight: 200;
    font-size: small;
}

.txt-center {
    font-weight: 200;
    font-size: small;
    text-align: center;
}

.txt-center-2 {
    font-weight: 600;
    font-size: small;
    text-align: center;
}

.txt-center-3 {
    font-weight: 200;
    font-size:medium;
    text-align: center;
}

.pointer{
    cursor: pointer;
}

.button {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dashed;
    border-color: white;
    transform: translate(0, 0rem);
}

.button2 {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dashed;
    border-color: white;
    transform: translate(0, 0rem);
}

.button:hover {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: black;
    background-color: white;
    transform: translate(0, 0rem);
    cursor: pointer;
}

.relative-container-index {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 30rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2rem;
    border-style:ridge;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-index {
    position: relative;
    display: flex;
    width: 14rem;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 0rem);
}

.relative-container-help {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 48rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1rem;
    border-style:groove;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-help {
    position: relative;
    display: flex;
    width: 40rem;
    height: 3rem;
    padding-left: 8rem;
    transform: translate(0, 0rem);
}

.text-help {
    text-align: left;
    font-weight: 200;
    padding: 4rem;
}

.relative-container-id {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 40rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-user {
    position: relative;
    display: flex;
    width: 14rem;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 0rem);
}

.text-input {
    all: unset;
    border-style: dashed;
    border-color: white;
    border-width: 0.05rem;
    color: white;
    background-color: black;
    cursor: text;
    font-weight: 200;
    font-size: medium;
}

.toggle {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dashed;
    border-color: white;
    transform: translate(0, 0rem);
    cursor: pointer;
}

.col-picker-container {
    position: absolute;
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    width: 40rem;
    height: 28rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

#userDisplay {
    text-align: center;
}

.user-color {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: small;
    height: 6rem;
    width: 40rem;
}

.palette-container {
    position: relative;
    display: flex;
    width: 40rem;
    height: 16rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-color-picker-container {
    position: relative;
    display: flex;
    width: 40rem;
    height: 6rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(0, 0rem);
}

.picker-palette {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 6rem;
    height: 10rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.palette {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dashed;
    border-color: white;
    transform: translate(0, 0rem);
}

.color-select-style {
    background-color: unset;
    width: 2rem;
    height: 2rem;
    border-style: dotted;
    border-color: white;
    cursor: pointer;
}

.main-game-header{
    position: relative;
    display: flex;
    width: 100%;
    height: 4rem;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.main-game-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.hud-container{
    position: relative;
    display: flex;
    width: 20rem;
    height: 50rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0rem, 0rem);
}

.ms-mind-container{
    position: relative;
    display: flex;
    width: 18rem;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0rem, 0rem);
}

.game-data-box{
    position: relative;
    display: flex;
    width: 18rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-game{
    position: relative;
    display: flex;
    width: 18rem;
    height: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.main-board-container{
    position: relative;
    display: flex;
    width: 30rem;
    height: 50rem;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.game-table{
    position: relative;
    display: flex;
    width: 28rem;
    height: 42rem;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
    padding-bottom: 0.5rem;
}

.game-panel-color-selector{
    position: relative;
    display: flex;
    width: 28rem;
    height: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.color-board{
    position: relative;
    display: flex;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
}

.color-cell{
    position: relative;
    display: flex;
    width: 4rem;
    height: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.color-cell-hard{
    position: relative;
    display: flex;
    width: 3.3rem;
    height: 3.3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.checks-container-main{
    position: relative;
    display: flex;
    width: 18rem;
    height: 50rem;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.checks-board{
    position: relative;
    display: flex;
    width: 16rem;
    height: 42rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
    padding-bottom: 0.5rem;
}

#checks{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.col-check-col {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10rem;
    height: 2rem;
    border: 0.05rem;
    border-style: solid;
    border-color: black;
}

.is-color {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 50%;
    border: 0.05rem;
    border-style: solid;
    border-color: black;
    width: 1rem;
    height: 1rem;
    transform: translate(0, 0.5rem);
}

.col-check-col-hard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10rem;
    height: 1.65rem;
    border: 0.05rem;
    border-style: solid;
    border-color: black;
}

.is-color-hard {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 50%;
    border: 0.05rem;
    border-style: solid;
    border-color: black;
    width: 0.7rem;
    height: 0.7rem;
    transform: translate(0, 0.5rem);
}

.pos-col-check-col {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10rem;
    height: 2rem;
    border: 0.05rem;
    border-style: solid;
    border-color: black;
}

.is-color-and-pos {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    border-radius: 50%;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    width: 1rem;
    height: 1rem;
    transform: translate(0, 0.5rem);
}

.pos-col-check-col-hard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10rem;
    height: 1.65rem;
    border: 0.05rem;
    border-style: solid;
    border-color: black;
}

.is-color-and-pos-hard {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    border-radius: 50%;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    width: 0.7rem;
    height: 0.7rem;
    transform: translate(0, 0.5rem);
}

.checks-footer{
    position: relative;
    display: flex;
    width: 18rem;
    height: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0rem);
}

.game-panel-button{
    position: relative;
    display: flex;
    width: 16rem;
    height: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

#gameover{
    position: absolute;
    background-color: #000000;
    display: flex;
    width: 40rem;
    height: 38rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1rem;
    border-style:groove;
    border-color: #ffffff;
    transform: translate(0, 0rem);
}

#winner{
    position: absolute;
    background-color: #000000;
    display: flex;
    width: 40rem;
    height: 28rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1rem;
    border-style:groove;
    border-color: #ffffff;
    transform: translate(0, 0rem);
}

.master-palette{
    position: relative;
    width: 40rem;
    height: 4rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.palette-game{
    position: relative;
    display: flex;
    width: 4rem;
    height: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}
