/* ajustes globales */
html {
    -webkit-text-size-adjust: 100%;
    /* Con esta lÃ­nea se quita el boqueo de txt pequeÃ±o reajustado en ios */
}

/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap'); */

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inconsolata;
}

a {
    all: unset;
}

.titulo {
    /* weight --> ExtraLight = 200 */
    font-weight: 300;
    font-size: larger;
}

.txt {
    font-weight: 200;
    font-size: small;
}

.button {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dashed;
    border-color: white;
    transform: translate(0, 0rem);
}

.button:hover {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: black;
    background-color: white;
    transform: translate(0, 0rem);
    cursor: pointer;
}

/* index page */
.relative-container-index {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-index {
    position: relative;
    display: flex;
    width: 14rem;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 0rem);
}

/* rules page */
.relative-container-help {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 28rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-help {
    position: relative;
    display: flex;
    width: 40rem;
    height: 2rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transform: translate(0, 2rem);
}

.text-help {
    text-align: left;
    padding: 2rem;
}

/* user page */
.relative-container-id {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-user {
    position: relative;
    display: flex;
    width: 14rem;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 0rem);
}

.text-input {
    all: unset;
    border-style: dashed;
    border-color: white;
    border-width: 0.05rem;
    color: white;
    background-color: black;
    cursor: text;
}

/* color-picker page */
.col-picker-container {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

#userDisplay {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 4rem;
}

.palette-container {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 40rem;
    height: 20rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.picker-palette {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 6rem;
    height: 12rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.palette {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dashed;
    border-color: white;
    transform: translate(0, 0rem);
}

.color-select-style {
    background-color: unset;
    width: 2rem;
    height: 2rem;
    border-style: dotted;
    border-color: white;
    cursor: crosshair;
}

.button-color-picker-container {
    position: relative;
    display: flex;
    width: 40rem;
    height: 6rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(0, 0rem);
}

/* game */
.main-game-container {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 50rem;
    height: 50rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.game-data-box {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 18rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.game-user-data {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 16rem;
    height: 4rem;
}

.current-palette {
    position: relative;
    display: flex;
    flex-direction: row;
}

.master-palette {
    position: relative;
    display: flex;
    flex-direction: row;
}

.palette-game {
    position: relative;
    font-weight: 200;
    font-size: small;
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dotted;
    border-color: white;
    transform: translate(0, 0rem);
}

.button-container-game {
    position: relative;
    display: flex;
    width: 18rem;
    height: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0rem);
}

.game-table {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 18rem;
    height: 40rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
    padding: 2rem;
}

.row-board {
    position: relative;
    display: flex;
    flex-direction: row;
}